.primary-button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff; /* Biały kolor tła przycisku */
    color: #000000; /* Czarny kolor tekstu przycisku */
    border: 1px solid #ffffff; /* Biała ramka wokół przycisku */
    border-radius: 14px; /* Zaokrąglone rogi */
    transition: background-color 0.3s; /* Efekt przejścia po najechaniu */
  }

.primary-button:hover {
    background-color: #ffffff; /* Kolor tła przy najechaniu */
  }

h1 {
  color: #ffffff;
  margin-top: 25px;
}

/* ----Like button---- */
.like-button {
  position: absolute;
  top: 50;
  right: 20px;
  padding: 8px 12px;
  font-size: 30px;
  background: none; /* Kolor przycisku */
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  transition: color 0.3s ease; 
}

.like-button:hover {
  background-color: none; /* Zmiana koloru przycisku po najechaniu */
}

.like-button.liked {
  background-color: none; /* Zielony kolor dla klikniętego przycisku */
}

.like-button.liked:hover {
  background-color: none; /* Ciemniejszy zielony kolor na hover */
}

/* ----Load more---- */
.load-more-btn {
  padding: 10px 20px;
  margin: 20px auto;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.load-more-btn:hover {
  background-color: #45a049;
}

h1 {
  text-align: center; /* Wyśrodkowuje tekst w poziomie */
  margin-bottom: 10px; /* Odstęp od formularza */
}